<div
  class="wrapper"
  [ngClass]="{
'selected':isSelected()
}"
  (click)="onClick()">
  <div class="imageWrapper">
    <img class="goodImage" [src]="helperService.getImageUrl(goodData.imageUrl)" alt="">
  </div>
  <div class="nameSection">{{goodData.name}}</div>
  <div>
    <h5 class="title">Наявна кількість</h5>
    <p class="amount">{{goodData.availableAmount}}</p>
  </div>
  <div>
    <h5 class="title">Загальна кількість</h5>
    <p class="amount">{{goodData.totalAmount}}</p>
  </div>
</div>
