<div class="shoppingCartItemWrapper">
  <div class="imageWrapper">
    <img class="image" [src]="helperService.getImageUrl(goodValue.imageUrl)" alt="">
  </div>
  <div class="description">
    <h3 class="title">{{helperService.shortenString(0,18,goodValue.name)}}</h3>
    <p *ngIf="!goodValue.discount" class="price">Ціна: <span>{{helperService.getFormattedPrice(goodValue.price)}}</span> ₴</p>
    <div class="priceWrapper" *ngIf="goodValue.discount">
      <p class="priceTitle">Ціна</p>
      <p class="price discount"><span>{{helperService.getFormattedPrice(goodValue.price)}}</span> ₴</p>
      <p class="discount"><span>{{helperService.getFormattedPrice(goodValue.discount.newPrice)}}</span> ₴</p>
    </div>
  </div>
  <div class="countWrapper">
    <p class="count">{{goodValue.count}} / {{goodValue.availableAmount}}</p>
  </div>
  <div class="action">
      <img
        class="actionButton"
        src="assets/img/plus.svg"
        alt="addCount"
        *ngIf="goodValue.count !== goodValue.availableAmount"
        (click)="shoppingKartService.addAmount(goodValue._id)"
      >
      <img
        *ngIf="goodValue.count !== 1"
        class="actionButton"
        src="assets/img/minus.svg"
        alt="removeCount"
        (click)="shoppingKartService.removeAmount(goodValue._id)"
      >
  </div>
</div>
