.shoppingCartItemWrapper {
  display: flex;
  height: 80px;
  padding: 10px;
  width: 600px;
  border: 1px solid #919191;
  border-radius: 5px;
}

.imageWrapper {
  height: 60px;
  width: 60px;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.description {
  flex: 0 0 200px;


}

.title {
  height: 30px;
  overflow: hidden;

}
.priceTitle{
}
.price {
  line-height: 25px;
  font-size: 14px;
  span{
    font-size: 18px;
  }
}
.priceWrapper{
  line-height: 25px;
  display: flex;
  gap: 5px;
}
.price.discount{
  color: gray;
  span{
    text-decoration: line-through;
  }

}

.discount{
  color: red;
  font-size: 14px;
  span{
    font-size: 18px;

  }
}

.action {
}

.actionButtonWrapper {

}

.actionButton {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.countWrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;


}

.count {
  font-weight: bold;
  font-size: 25px;

}

